@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');


/* shear style */

*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif; 
}

main{
    max-width: 1420px;
}

.section-title{
    font-size: 2.8rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.common-color{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.unkonw-color{
    font-size: 20px;
    color: #534C64;
}

.btn-parimay{
    color: white;
    font-size: 16px;
    border-radius: 20px;
    border: 0px;
    padding: 15px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

/* extra section */

.youtube-icon{
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-top: 5px;
}

.tiktok-icon{
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-top: 5px;
}

.play-button{
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-top: 5px;
}

.bownload-button{
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-top: 5px;
}

.gtoup-button{
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-top: 5px;
}

.card-img-1{
    background-image: url('../images/Rectangle\ 4.png');
}
.card-img-2{
    background-image: url('../images/Rectangle\ 5.png');
}

.card-img-3{
    background-image: url('../images/Rectangle\ 6.png');
}

.card-img-4{
    background-image: url('../images/Rectangle\ 7.png');
}
.card{
    position: relative;
    background-size: 100% 100%;
    overflow: hidden!important;
    border-radius: 12px;
    width: 240px;
    transition: all 0.2s ease;
    height: 300px;
}
.hover-card{
    position: absolute;
    background-color: rgba(15, 1, 1, 0.848);
    left: 0;
    top: 0;
    bottom: 0;
    color: white;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    opacity: 0;
    justify-content: center;
    right: 0;
}
.card:hover .hover-card{
    transition: all 0.2s ease;
    opacity: 100%;
}

.n>img{
    width: 40px;
}
.box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
}
/* header styles */
.g-color{
    color:  #FF42A5;
}

.nav-img{
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-top: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
}

nav > ul{
    color: #0B0223;
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: #3C354F;
}

.nav-button{
   height: 40px;
   padding: 5px;
   border-radius: 9px;
   border: 0px;
}

.nav-part1{
    display: flex;
    padding-left: 200px;
    
}
.nav-part2{
    gap: 0px;
    padding-right: 200px;

}

/* banner section */
.btn-parimay-2{
    font-size: 16px;
    border-radius: 20px;
    border: 0px;
    background-color: #4EC5F7;
    padding: 13px;
}


/* group-18-contanier */

.group-18-contanier{
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}
.my-bacgroud-img{
    padding-right: 100px;
    padding-top: 200px;
}

.group-18{
    padding-left: 100px;
}





/* pngwing-4 section */

.pngwing-4{
    display: flex;
    justify-content: center;

}

.pngwing-4 img{
    width: 50%;
    height: 50%;
    gap: 50px;
    margin-left: 20px;
}

.we-are-gamer{
    width: 80%;
    height: 70%;
    margin-left: 20px;
}



/* inline section */

.Online-setion{
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 100px;
}





/* img-section */
.img-contener{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: 50px;
}


.section-img{
    width: 600px;
    height: 500px;
}

.img1{
    width:70%;
    height: 60%;
    margin-left: 50px;
}

.img2{
    width: 200px;
    height: 180px;
    position: relative;
    bottom: 100px;
}

 /* icon-section */


.icon-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 85px;
    /* margin-right: 100px; */
    margin-top: 0px;
    padding: 0px;
}


.icon-section .card{
    border: 1px solid black;
    height: 70%;
    width: 50%;
    padding-right: 0px;
    border-radius: 10px;
    text-align: center;
    cursor: progress;

}

.icon-section p{
    font-size: 1rem;
    color: rgb(225, 133, 133);
    padding-bottom: 50px;

}

.icon-section p:hover{
    color: black;
} 
/* footer styles */
#no{
    color: #4EC5F7;
}
#na{
    color: hsl(0, 71%, 70%);
}

footer{
    width: 100%;
    background-color: #f2e8e8;
    padding-top: 70px;
}

.footer-head{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.footer-h3{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.footer-icon{
    display: flex;
    justify-content: center;
    gap: 25px;
    
}
.footer-p{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.copy-class{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: Linear;
}
/* responsive styles media queries */

/* mobile device */

@media screen and (max-width: 576px) {

    .img-contener{
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
    }
    .section-img{
        width: 400px;
        height: 500px;
    }

    .icon-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
        justify-content: space-evenly;
    }

    .footer-h3{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-p{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 50%;
    }
    .grid{
        grid-template-columns: 1fr;
        padding-left: 50px;
        gap: 30px;
    }
    .Online-setion{
        width: 380px;
        height: 200px;
    }
    
    .we-are-gamer{
        flex-direction: column;
    }
    .pngwing-4 {
        flex-direction: column;
        text-align: center;
        padding-right: 150px;
    }
    .pngwing-4 img {
        width: 110%;
        height: 110%;
        gap: 50px;
    }
    .we-are-gamer {
        width: 80%;
        height: 70%;
        margin-left: 90px;
    }
    .group-18-contanier{
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;
        margin: 10px;
    }
    .my-bacgroud-img {
        /* margin: 200px 0px; */
        background-image: url(../images/Group\ 14.png);
        padding-bottom: 100px;
        padding-left: 100px;
        gap: 20px;
    }
    .img-pngwing {
        padding-left: 50px;
    }

    .group-18{
        padding-right: 120px;
        width: 50%;
        height: 55%;
        
    
    }
    .my-bacgroud-img{
        padding: 100px 100px;
    }

    /* nav styles */
    nav, .nav-part1, nav > ul{
        flex-direction: column;
    }
    
    .nav-part1{
        display: flex;
        padding-left: 0px;
        height: 200px;
        margin-bottom: 0px;

    }
    .nav-part2{
        gap: 20px;
        align-items: center;
        padding-right: 0px;
        margin-left: 150px;
        margin-left: 50px;
        margin-top:0px;
    
    }

    .nav-button{
        margin-right: 90px ;
    }
    



    .nav-img {
        /* width: 50px; */
        /* height: 50px; */
        margin-left: 50px;
        margin-bottom: 200px;
    }
    .nav-title {
        font-size: 45px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 0px;

    }
    nav >ul >li >a{
        padding-right: 50px;
    }
}



/* tablet or medium device */

@media screen and (min-width: 576px) and (max-width: 960px) {
    .icon-section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-left: 14%;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 100px;
        gap: 30px;
    }
    .section-img {
        width: 450px;
        height: 400px;
    }
    .common-color {
        color: #534C64;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
    }

    .pngwing-4 img{
        width: 100%;
        height: 100%;
        gap: 50px;
        margin-left: 10px;
    }

    .group-18-contanier {
        text-align: center;
        gap: 150px;
        flex-direction: column-reverse;
    }

    .group-18{
        padding-left: 0px;
    }
    .pngwing-4 {
        flex-direction: column;
        align-items: center;
    }
    .we-are-gamer{
        text-align: center;
    }
    .my-bacgroud-img{
        margin: 0px auto ;
        background-image: url(../images/Group\ 14.png);
        padding-bottom: 100px;
    }

    nav{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .nav-part1{
        display: flex;
        padding-left: 0px;

        
    }
    .nav-part2{
        gap: 0px;
        padding-right: 0px;

    }

}